In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt   #Data visualisation libraries 
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

%matplotlib inline

data = pd.read_csv('input/AAPL.csv')
#, columns=["Date, Open, High, Low, Close, Adj Close,Volume"]
data=data.dropna()
x=data[['Open', 'High', 'Low', 'Close', 'Volume']]
y=data['Adj Close']
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=101)
data.head()

         Date      Open      High       Low     Close  Adj Close       Volume
0  1980-12-12  0.513393  0.515625  0.513393  0.513393   0.415317  117258400.0
1  1980-12-15  0.488839  0.488839  0.486607  0.486607   0.393649   43971200.0
2  1980-12-16  0.453125  0.453125  0.450893  0.450893   0.364757   26432000.0
3  1980-12-17  0.462054  0.464286  0.462054  0.462054   0.373786   21610400.0
4  1980-12-18  0.475446  0.477679  0.475446  0.475446   0.384620   18362400.0

In [10]:
%%timeit
lm = LinearRegression()
lm.fit(X_train,y_train)

1.33 ms ± 13 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [ ]:
1.33 1.55